article, aside, figcaption, figure, footer, header, hgroup, main, nav, section{display:none;}
main{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5, 1fr);
}
main>li
{
    background-color: white; 
    padding:10px;
    border: 1px solid black;
    list-style-type: none;
    text-decoration:none;
    margin: 10px;
    text-align:center;

}